
<div>

    <p>Block hash (height): <span class="inline-code">{{blk_hash}}
        ({{blk_height}})</span></p>

    {{#have_prev_hash}}
    <p>Previous block: <span class="inline-code"><a href="__prefix__/block/{{prev_hash}}">{{prev_hash}}</a></span></p>
    {{/have_prev_hash}}

    {{#have_next_hash}}
    <p>Next block: <span class="inline-code"><a href="__prefix__/block/{{next_hash}}">
        {{next_hash}}</a></span></p>
    {{/have_next_hash}}

    <div class="segment">
        <table class="table">
            <tr>
                <td>Timestamp [UCT] (epoch):</td><td>{{blk_timestamp}} ({{blk_timestamp_epoch}})</td>
                <td>Age {{age_format}}:</td><td>{{blk_age}}</td>
                <td>Δ [h:m:s]:</td><td>{{delta_time}}</td>
            </tr>
            <tr>
                <td>Major.minor version:</td><td>{{major_ver}}.{{minor_ver}}</td>
                <td>Block reward:</td><td>{{blk_reward}}</td>
                <td>Block size [kB]:</td><td>{{blk_size}}</td>
            </tr>
            <tr>
                <td>nonce:</td><td>{{blk_nonce}}</td>
                <td>Total fees:</td><td>{{sum_fees}}</td>
                <td>No of txs:</td><td>{{no_txs}}</td>
            </tr>
            <tr>
                <td>PoW hash:</td><td>{{blk_pow_hash}}</td>
                <td>Difficulty:</td><td>{{blk_difficulty}}</td>
                {{#is_randomx}}
                    <td colspan="2"><a href="__prefix__/randomx/{{blk_height}}">RandomX source code</a></td>
                {{/is_randomx}}
                {{^is_randomx}}
                    <td></td>
                {{/is_randomx}}
                <td></td>
            </tr>
        </table>
    </div>

    <h3 class="title">Miner reward transaction</h3>
    <div class="segment">
        <table class="table">
            <tr>
                <td>hash</td>
                <td>outputs</td>
                <td>size [kB]</td>
                <td>version</td>
            </tr>
            {{#coinbase_txs}}
            <tr>
                <td><a href="__prefix__/tx/{{hash}}">{{hash}}</a>
                <td>{{sum_outputs}}</td>
                <td>{{tx_size}}</td>
                <td>{{version}}</td>
            </tr>
            {{/coinbase_txs}}

        </table>
    </div>

    <h3 class="title">Transactions ({{no_txs}})</h3>
    {{#have_txs}}
        <div class="segment">
            <table class="table">
                <tr>
                    <th>hash</th>
                    <th>outputs</th>
                    <th>fee [&#181;&#x271]</th>
                    <th>in/out</th>
                    <th>size [kB]</th>
                    <th>version</th>
                </tr>
                {{#blk_txs}}
                <tr>
                    <td><a href="__prefix__/tx/{{hash}}">{{hash}}</a></td>
                    <td>{{sum_outputs}}</td>
                    <td>{{fee_micro}}</td>
                    <td>{{no_inputs}}/{{no_outputs}}</td>
                    <td>{{tx_size}}</td>
                    <td>{{version}}</td>
                </tr>
                {{/blk_txs}}
            </table>
        </div>
    {{/have_txs}}


    {{#enable_as_hex}}
        <h5 style="margin-top:1px">
            <a href="__prefix__/blockhex/{{blk_height}}">Block as hex</a>
            | <a href="__prefix__/blockhexcomplete/{{blk_height}}">Complete block as hex</a>
        </h5>
    {{/enable_as_hex}}

</div>
