<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="about:blank">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Onion Monero Blockchain Explorer</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

</head>
<body>
<div class="layout">
  <div class="layout__header">
    <div class="header">
      <div class="centered">
        <h1><a href="__prefix__/">Onion Monero Blockchain Explorer</a></h1>
        <div style="font-size: 15px;">(no javascript - no cookies - no web analytics trackers - no images - open sourced)</div>
      </div>
    </div>
  </div>
  <div class="layout__content">
    <div class="container">
      <form action="__prefix__/search" class="flex" method="get" style="margin-bottom:
       25px;">
        <input
            style="margin-right: 15px;"
            class="input"
            type="text"
            name="value"
            size="120"
            placeholder="block height, block hash, transaction hash"
        >
        <input class="button" type="submit" value="Search">
      </form>
