body {
    margin: 0;
    padding: 0;
    color: #f9fafc;
    background-color: black;
}

h1 {
    font-size: inherit;
}

.flex {
    display: flex;
}

.centered {
    text-align: center;
}

.title {
    margin: 3rem 0 0.5rem;
}

.small {
    font-size: 12px;
}

.card {
    margin: 0 0.5rem;
    border: 1px solid #FF9248;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    overflow: hidden;
}

.card:first-child {
    margin-left: 0;
}

.card:last-child {
    margin-left: 0;
}

.card__header {
    background: #FF9248;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
}

.card__value {
    text-align: center;
    padding: 10px 15px;
    background: white;
}

.inline-code {
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    background-color: #F8F8F8;
    padding: 5px;
    color: rgba(34,48,66,0.6);
    word-break: break-all;
    display: inline-block;
    font-family: monospace;
}

.menu {
    text-align: center;
    margin: 0 0 50px;
}

.table {
    width: 100%;
    margin: 1rem 0;
    background: white;
}

.segment {
    background: white;
    box-shadow: 0 0 10px 0 rgba(109,173,238,0.05);
}


th {
    padding: 1rem 0.5rem;
    font-size: 12px;
    text-align: left;
}

td {
    padding: 0.5rem 0.5rem;
}

.primary {
    color: #FF7A49;
}

a:link {
    text-decoration: none;
    color: #FF7A49;
}

a:visited {
    text-decoration: none;
    color: #FF7A49;
}

a:hover {
    text-decoration: underline;
    color: #FF7A49;
}

a:active {
    text-decoration: none;
    color: #FF7A49;
}

form {
    display: inline-block;
    text-align: center;
}

.tabs {
    position: relative;
    min-height: 290px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

.tab label {
    background: white;
    padding: 10px;
    border: 1px solid #e6e6e6;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 26px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #e6e6e6;
}

[type=radio]:checked ~ label {
    background: white ;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

input#toggle-1[type=checkbox] {
    position: absolute;
    /*top: -9999px;*/
    left: -9999px;

}
label#show-decoded-inputs {
    /*-webkit-appearance: push-button;*/
    /*-moz-appearance: button;*/
    display: inline-block;
    /*margin: 60px 0 10px 0;*/
    cursor: pointer;
    background-color: white;;
    width: 100%;
    text-align: center;
}

div#decoded-inputs{
    display: none;
}

/* Toggled State */
input#toggle-1[type=checkbox]:checked ~ div#decoded-inputs {
    display: block;
}

.input {
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e6e6e6;
    color: #384454;
    border-radius: .30769231rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: inset 0 0 0 0 transparent;
    -webkit-transition: color .1s ease,border-color .1s ease;
    -o-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
    line-height: 1em;
    padding: 11px;
    min-width: 0;
    flex: 1;
}

.button {
    height: 40px;
    width: 128px;
    border-radius: 28px;
    background: linear-gradient(270deg, #FF7A49 0%, #FF9248 97.2%);
    box-shadow: 0 2px 10px 0 rgba(255, 132, 73, 0.3);
    border: none;
    color: white;
    font-size: 14px;
    position: relative;
}

/* ------------------- LAYOUT ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background: #f9fafc;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(34,48,66,0.9);
}

.container {
    margin: 0 auto 0;
    width: 100%;
    max-width: 1180px;
    padding: 30px;
}

.header {
    font-size: 1.5rem;
    padding: 1.5rem;
    background: white;
    box-shadow: 0 0 10px 0 rgba(114, 114, 115, 0.26);
    margin: 0;
}

p {
    margin-bottom: 0.5em;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout__header {}

.layout__content {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.layout__footer {}

.footer {
    background: white;
    box-shadow: 0 0 10px 0 rgba(114, 114, 115, 0.26);
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
    text-align: left;
}

.footer__left {
    flex: 3;
}

.footer__left {
    flex: 4;
}

.footer__link {
    color: #FD681E !important;
    font-size: 14px;
    text-decoration: none;
}

.footer__container {
    margin: 0 auto 0;
    width: 100%;
    max-width: 920px;
    padding: 30px;
    display: flex;
}

.footer__title {
    color: rgba(34,48,66,0.9);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.footer__productLogo {
    display: inline-block;
    max-width: 100px;
}

.footer__productLogo img {
    max-width: 100%;
    max-height: 100%;
}


@media screen and (max-width: 768px) {
    .footer__container {
        display: block;
    }
    .footer__left {
        margin-bottom: 1rem;
    }
}
