
<div>
    <br/>
    <p>Address:<br/> <span class="inline-code">{{xmr_address}}</span></p>
    <br/>

    {{#testnet}}
        <p>Network type: Testnet</p>
    {{/testnet}}
    {{#stagenet}}
        <p>Network type: Stagenet</p>
    {{/stagenet}}
    {{^testnet}}{{^stagenet}}
        <p>Network type: Mainnet</p>
    {{/stagenet}}{{/testnet}}

    <br/>
    <p>Associated public keys</p>

    <p>View key: <span class="inline-code">{{public_viewkey}}</span></p>
    <p>Spend key: <span class="inline-code">{{public_spendkey}}</span></p>
    <br/>

    {{#is_integrated_addr}}
        <p>Payment id: <span class="inline-code">{{encrypted_payment_id}}</span></p>
    {{/is_integrated_addr}}

    <p>
        Transactions:<br/> Sorry, its not possible to find txs associated with
        normal addresses in Monero
    </p>
</div>
<br/>

